// SCSS Variables
$text-dark: #080f0b;

/* BASE RESET so that I can set the padding and margins*/
/* Generally, I'll make padding- 10px 15px
  and margin - 20px */
* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Setting the base properties for the entire page */
/* box-sizing so that everything will contain its internal elements*/
html,
body {
  color: $text-dark;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth; /*This will make it so when you click on a link, 
      it will scroll to that spot rather than jump*/

  margin-left: auto;
  margin-right: auto;
}

/* -------MAIN------- */
main {
  /* background-image: url(""); */
  display: flex;
  flex-direction: column;
}

/*-------NAVBAR---------------*/
/* CSS for the navbar to make it stick while scrolling,
    take up the width of the page, and position the flex-items*/

#navbar {
  padding: 10px 15px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 500; /*This makes sure that the nav is always visible on top of any other element*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $text-dark;
    font-size: 1.3rem;
  }
}

/*-------- TO DO LIST SECTON--------*/
#to-do-section {
  padding-top: 5rem;
  li {
    list-style: none;
    &.completed {
      color: gray;
      text-decoration: line-through;
    }
  }
}
